@mixin addSomeCurve {
  border-radius: $global-rounded;
  height: 3em;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body, html {
  background: #141413;
  background: -moz-radial-gradient(center, circle cover, #141413 0%, #0A0A0A 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#141413), color-stop(100%,#0A0A0A)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, circle cover, #141413 0%,#0A0A0A 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, circle cover, #141413 0%,#0A0A0A 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, circle cover, #141413 0%,#0A0A0A 100%); /* IE10+ */
  background: radial-gradient(circle at center, #141413 0%,#0A0A0A 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141413', endColorstr='#0A0A0A',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

img.logo {
  margin: 2em auto;
  width: 4.5em;
  height: 4.5em;
  position: fixed;
  z-index: 1;
  @media only screen and (max-width: 768px) {
    margin: 1em auto;
    width: 3em;
    height: 3em;
  }
}

#spiel {
  margin-top: 8em;
  @media only screen and (max-width: 768px) {
    margin-top: 4em;
  }
}

#pitch h3 {
  line-height: 1.6em;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin: 2.5em auto 1.5em;
  font-weight: 100;
  color: $body-font-color;
  font-size: 1.25em;
  @media only screen and (max-width: 768px) {
    font-size: 1.05em;
  }
}

#sign-up {
  padding-left: 1.2em;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  @include addSomeCurve;
  @media only screen and (max-width: 768px) {
    font-size: 0.9em;
  }
}

#submit {
  text-transform: uppercase;
  font-size: 1em;
  @include addSomeCurve;
  @media only screen and (max-width: 768px) {
    font-size: 0.9em;
  }
}

#footer {
  margin-top: 1.5em;
  font-size: 2.4em;
  text-align: center;
}

#instagram {
  display: inline-block;
}

#facebook {
  display: inline-block;
  margin: 0 1.5em;
  @media only screen and (max-width: 768px) {
    margin: 0 1em;
  }
}

#soundcloud {
  display: inline-block;
}

.space-below-that-seems-unnecessary {
  margin-top: 3em;
  position: relative;
  height: 1em;
}