%section#footer
  .row
    .small-12.large-11.small-centered.columns
      = link_to '#' do
        %span#soundcloud.icon-social_soundcloud_circle
      = link_to '#' do
        %span#facebook.icon-social_facebook_circle
      = link_to '#' do
        %span#facebook.icon-social_facebook_circle
      = link_to '#' do
        %span#instagram.icon-social_instagram_circle
