%section#footer
  .row
    .small-12.large-11.small-centered.columns
      = link_to 'https://soundcloud.com/theredisco' do
        %span#soundcloud.icon-social_soundcloud_circle
      = link_to 'https://www.facebook.com/theRedisco' do
        %span#facebook.icon-social_facebook_circle
      = link_to 'http://instagram.com/theredisco' do
        %span#tumblr.icon-social_tumblr_circle
      = link_to 'https://soundcloud.com/theredisco' do
        %span#instagram.icon-social_instagram_circle
